@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    a {
        text-decoration: none;
    }
}

ul li {
    list-style-type: none;
}

a {
    color: inherit;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
/* HOME */

.hero {
    width: 100%;
    height: 300px;
    background-color: rgb(39, 145, 216);
}

.hero-text h4 {
    font-size: 30px;
    font-family: Open Sans;
    font-family: 400;
    font-weight: 600;
    line-height: 40px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.main-text {
    padding: 40px 80px 80px 80px;
    background-color: #f5f4fb;
}

.main-text h2 {
    color: #333333;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 10px;
}

.main-text p {
    color: #666666;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

@media (max-width:768px) {
    .main-text {
        padding: 40px 0px 0px 00px;
        background-color: #f5f4fb;
    }
}
//Services
#services{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: white;
    .card  {
        text-align: center;
        .card-img-top{
            width: 100%;
            height: 250px;
        }
    }
    .col-12.col-md-6{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
}

#hizmetlerimiz-bg {
    color: white;
    text-align: center;
    padding: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.item-banner {
    width: 100%;
    height: 150px;
    background: url("https://cutewallpaper.org/21/white-background-hd-wallpaper/White-Background-Wallpaper-Hd-1080p-56+-Group-Wallpapers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.item-banner h1 {
    color: #555555;
    padding: 0px 150px 0px 150px;
    font-family: Montserrat;
}

@media (max-width:768px) {
    .item-banner h1 {
        padding: 0px 0px 0px 0px;
    }
}
//Services

//AboutUs
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
.aboutme-text {
    padding-left: 140px;
    padding-right: 140px;
}

.aboutme-text h1 {
    color: #3a6ee8;
    font-size: 50px;
    font-family: Oswald;
    font-weight: 500;
}

.aboutme-text p {
    color: #6d6d6d;
    font-size: 17px;
    font-family: Open Sans;
    font-weight: 500;
    line-height: 35px;
    padding-bottom: 20px;
}

@media (max-width:768px) {
    .aboutme-text {
        padding: 0px 0px 0px 0px;
    }
}
//ContactUs
.contactus-iframe {
    width: 100%;
    height: 450px;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
  }
  
.swiper-lazy {
    width: 750px;
    height: 600px;
    display: flex;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.Services-Details h1 {
    color: #333;
    font-family: Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}
.Services-Details p {
    font-size: 17px;
    font-family: Open Sans, sans-serif;
    line-height: 32px;
    padding: 0px 150px 0px 150px;
    margin-bottom: 20px;
}
